*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #152737;
}

.container {
	width: 80%;
	margin: 50px auto 0;
}

.go-back {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	border: solid 1px #000;
	padding: 10px 0;
	width: 20%;
	margin-bottom: 50px;
	font-size: 0.7em;
	background: #152737;
	color: #fff;
}

#id_text,
#id_name {
	display: block;
	margin-bottom: 40px;
	margin-top: 10px;
	height: 40px;
	width: 100%;
	padding-left: 9px;
	outline: none;
	border: solid 1px #000;
}

label {
	font-size: 0.8em;
}

.submit {
	height: 40px;
	width: 20%;
	background: none;
	background-color: #17c698;
	border: none;
	color: #fff;
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	.go-back,
	.submit {
		width: 100%;
	}

	#id_text,
	#id_name {
		width: 100%;
	}
}
