*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #152737;
}

header,
.container {
	width: 80%;
	margin: 0 auto;
}

header {
	margin-top: 20px;
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .big {
	font-size: 2.2em;
	font-weight: bold;
}

.write {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	font-size: 0.7em;
	color: #fff;
	width: 20%;
	text-align: center;
	border-radius: 3px;
	background-color: #17c698;
}
ul,
li {
	list-style: none;
}

.post {
	margin: 30px 0;
	padding-bottom: 25px;
	border-bottom: solid #eee 1px;
}

.name {
	margin-top: 5px;
	font-size: 0.7em;
	color: #17c698;
}

@media screen and (max-width: 800px) {
	.write {
		display: block;
		width: 100%;
		margin-top: 20px;
	}
	header {
		flex-wrap: wrap;
	}
}
