<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <h1>留言板</h1>
        <a href="{% url 'write' %}">留言</a>
    </header>
    <ul>
        {% for post in object_list %}
            <li>
                <p>{{ post.name }}</p>
                <p>{{ post.text }}</p>
                <span>{{post.date|date:'Y/m/d H:i'}}</span>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
