<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <span class="big">留言板</span>
            <span>1.0</span>
        </div>
        <a href="{% url 'write' %}" class="write">留言</a>
    </header>
    <div class="container">
        <ul>
            {% for post in object_list %}
                <li class="post">
                    <p class="content">{{ post.text }}</p>
                    <p class="name">by {{ post.name }} {{post.date|date:'Y/m/d H:i'}}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
